
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.8/css/all.css">

<div class="container">
	<hr>
	<div class="card bg-light">
		<article class="card-body mx-auto" style="max-width: 400px;">
			<h4 class="card-title mt-3 text-center">{{'actor.create.account'|translate}}</h4>
			<p class="text-center">{{'actor.manager'|translate}}</p>
			<p></p>
			<p class="divider-text">
				<span class="bg-light">OR</span>
			</p>
			<form [formGroup]="registerForm" (ngSubmit)="onRegister()">
				<!-- Nombre y apellidos -->
				<div class="form-group input-group">
					<div class="input-group-prepend">
						<span class="input-group-text"> <i class="fa fa-user"></i> </span>
					</div>
					<input formControlName="name" class="form-control" placeholder="{{'actor.name'|translate}}" type="text">
					<input formControlName="surname" class="form-control" placeholder="{{'actor.surname'|translate}}" type="text">
				</div>
				<!-- Correo electrónico -->
				<div class="form-group input-group">
					<div class="input-group-prepend">
						<span class="input-group-text"> <i class="fa fa-envelope"></i> </span>
					</div>
					<input formControlName="email" class="form-control" placeholder="{{'actor.email'|translate}}" type="email">
				</div>
				<!-- Dirección -->
				<div class="form-group input-group">
					<div class="input-group-prepend">
						<span class="input-group-text"> <i class="fa fa-building"></i> </span>
					</div>
					<input formControlName="address" class="form-control" placeholder="{{'actor.address'|translate}}" type="address">
				</div>
				<!-- Prefijo y teléfono -->
				<div class="form-group input-group">
					<div class="input-group-prepend">
						<span class="input-group-text"> <i class="fa fa-phone"></i> </span>
					</div>
					<select formControlName="countrycode" class="custom-select" style="max-width: 120px;">
						<option selected="">+34</option>
						<option value="1">+1</option>
						<option value="2">+198</option>
						<option value="3">+701</option>
					</select>
					<input formControlName="phone" class="form-control" placeholder="{{'actor.phone'|translate}}" type="number">
				</div>
				<!-- Listado de roles disponibles -->
				<div class="form-group input-group">
					<div class="input-group-prepend">
						<span  class="input-group-text"> <i class="fa fa-key"></i> </span>
					</div>
					<select formControlName="role" class="form-control">
						<option *ngFor="let role of roleList" [value]="role">{{role}}</option>
					</select>
				</div>
				<!-- Listado de idiomas disponibles -->
				<div class="form-group input-group">
					<div class="input-group-prepend">
						<span class="input-group-text"> <i class="fa fa-book"></i> </span>
					</div>
					<select formControlName="preferredLanguage" class="form-control">
						<option *ngFor="let preferredLanguage of idiomlist" [value]="preferredLanguage">{{preferredLanguage}}</option>
					</select>
				</div>
				<!-- Password -->
				<div class="form-group input-group">
					<div class="input-group-prepend">
						<span class="input-group-text"> <i class="fa fa-lock"></i> </span>
					</div>
					<input formControlName="password" class="form-control" placeholder="{{'actor.create.pass'|translate}}"
						type="password">
				</div>
				<!-- Repetir Password -->
				<div class="form-group input-group">
					<div class="input-group-prepend">
						<span class="input-group-text"> <i class="fa fa-lock"></i> </span>
					</div>
					<input class="form-control" placeholder="{{'actor.repeat.pass'|translate}}" type="password">
				</div>
				<div class="form-group">
					<!-- Texto del botón enviar -->
					<button type="submit" class="btn btn-primary btn-block"> {{'actor.create.account'|translate}} </button>
				</div>
			</form>
		</article>
	</div>
</div>