
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">
    <img src="../../../../assets/images/logoAcmeExplorer.png" width="60" height="60" class="d-inline-block align-top" alt="">
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>  
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
  <form class="form-inline mx-auto">
    <input class="form-control mr-sm-2" type="search" placeholder="{{'trip.search'| translate}}" aria-label="Search">
    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">{{'trip.search' | translate}}</button>
  </form>
  <ul class="navbar-nav">
    <li class="nav-item active">
      <button (click)="changeLanguage('en')" type="submit"class="btn-sm btn-primary mr-1" >EN</button>
      <button (click)="changeLanguage('es')" type="submit" class="btn-sm btn-primary mr-1">SP</button>
    </li>
    <li class="nav-item" >
      <a class="nav-link" routerLink="/register">{{ 'actor.register' | translate}}</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/login">{{'security.login' | translate}}</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" style="cursor:pointer" (click)="logout()"> {{'security.logout' | translate}} </a>
    </li> 
  </ul>  
  </div>
</nav>
<br>