<br>
<div style="background-color: #f3faf9f5;">
    <footer class="page-footer font-small unique-color-dark">    
        <div style="background-color: #0ba18d;">
          <div class="container">
            <div class="row py-4 d-flex align-items-center">
              <div class="col-md-6 col-lg-5 text-center text-md-left mb-4 mb-md-0">
                <h6 class="mb-0">{{'footer.social.networks' | translate}}</h6>
              </div>
              <div class="col-md-6 col-lg-7 text-center text-md-right">
                <a class="fb-ic">
                  <i class="fa fa-facebook-f white-text mr-4"> </i>
                </a>
                <a class="tw-ic">
                  <i class="fa fa-twitter white-text mr-4"> </i>
                </a>
                <a class="gplus-ic">
                  <i class="fa fa-youtube white-text mr-4"> </i>
                </a>
                <a class="li-ic">
                  <i class="fa fa-linkedin white-text mr-4"> </i>
                </a>
                <a class="ins-ic">
                  <i class="fa fa-instagram white-text"> </i>
                </a>
              </div>    
            </div>    
          </div>
        </div>
        <div class="container text-center text-md-left mt-5">
          <div class="row mt-3">
            <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
                <p>
                    <a class="footer-company-name">Acme-Explorer &copy; {{ today | localizedDate }} </a>
                </p>                
                <p class="footer-links">
                  <a href="/terms-and-conditions">
                    {{'footer.terms' | translate}}                  
                  </a>
                </p>
              <hr class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
              <p>{{'footer.empresa' | translate}}</p>
              <b>{{'footer.visitors' | translate}}:</b>{{numClients }}              
            </div>
            <div class="col-md-2 col-lg-2 col-xl-3 mx-auto mb-4">---
              <h6 class="text-uppercase font-weight-bold">{{'footer.contact' | translate}}</h6>
              <hr class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
              <p>
                <i class="fa fa-home mr-3"></i> Sevilla, Sevilla, 41002, Spain</p>
              <p>
                <i class="fa fa-envelope mr-3"></i> <a href="mailto:support@acme-explorer.com">support@acme-explorer.com
                  </a></p>
              <p>
                <i class="fa fa-phone mr-3"></i> + 34 874 57 88</p>
            </div>      
          </div>   
        </div>    
      </footer>   
    </div>